altgraph==0.17.4
blinker==1.9.0
bottle==0.13.2
click==8.1.8
Flask==3.1.0
flaskwebgui==1.1.6
itsdangerous==2.2.0
Jinja2==3.1.5
macholib==1.16.3
MarkupSafe==3.0.2
numpy==2.2.1
numpy-stl==3.2.0
packaging==24.2
pillow==11.0.0
proxy_tools==0.1.0
psutil==6.1.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-WebKit==10.3.2
python-utils==3.9.1
pywebview==5.3.2
qrcode==8.0
setuptools==75.6.0
typing_extensions==4.12.2
Werkzeug==3.1.3
