<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR-Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="container">
        <p>Gib deinen Text oder Link ein</p>
        <input type="text" placeholder="Text or Link" id="linkInput">
        <button id="qrCodeErstellenButton">QR-Code erstellen</button>
        <button id="qrCodeDownloadButton">QR-Code downloaden</button>
        <a href="/static/qr_code.stl" download>download</a>
    </div>
    <script src="../static/main.js"></script>
</body>
</html>